# HwBinder IPC from client to server, and callbacks
binder_call(hal_scanservice_client, hal_scanservice_server)
binder_call(hal_scanservice_server, hal_scanservice_client)

add_hwservice(hal_scanservice_server, hal_scanservice_hwservice)
allow hal_scanservice_client hal_scanservice_hwservice:hwservice_manager find;
